@model TarefaModel
@{
    ViewData["Title"] = "Editar";
}
<h1>Editar</h1>

<form asp-controller="Tarefas" asp-action="Editar" method="put">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
        <input type="text" asp-for="Trf_Id" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome Completo</span>
        <input type="text" asp-for="Trf_NomeUsuario" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome da Tarefa</span>
        <input type="text" asp-for="Trf_Tarefa" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Data de Expiracao</span>
        <input type="date" asp-for="Trf_DataExpiracao" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <button type="submit" class="btn btn-success">Editar</button>
</form>